body {
  background-color: black;
  color: white;
  font-size: 28pt;
}

a {
  color: white;
}

input[type=text],input[type=submit] {
  background-color: lightblue;
  color: navy;
  font-size: 36pt;
  font-weight: 900;
}

button {
  font-weight: 900;
  width: 50%;
  height: 100px;
  font-size: 30pt;
}
